#aboutme{
  display: flex;
  flex-direction: column  ;
  width: 100%;
  padding:5% 10%;
}

#aboutme .title{
  font-size: 3.5rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 50px;
} 

.aboutme-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2% 0;
  gap: 20px;
}

.aboutme-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.aboutme-img{
  flex-basis: 23%;
}

.aboutme-img img{
  width: 100%;
}

.aboutme-text{
  display: flex;
  flex-basis: 69%;
  flex-direction: column;
  row-gap: 20px;
}

.aboutme-text p{
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 400;
  text-align: justify;
}


.aboutme-achievements{
  margin-top: 30px;
  display: flex;
  width: 100%;
  column-gap: 70px;
  
}

.aboutme-achievement{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.aboutme-achievement h1{
  font-size: 3rem;
  font-weight: 500;
}

.aboutme-achievement p{
  font-size: 1.1rem;
  font-weight: 200;
}


.tech-stack{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  
}

.stack{
  flex-basis: 32%;
  padding: 35px;
  border-radius: 10px;
  background-color: rgba(244, 246, 247, 0.062);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.stack h1{
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 30px;
}

.icons-container{
 
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  cursor: pointer;

}

.icons-container img{
  width: 60px;
  height: 45px;
}

.icon-details{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 10px;
  transition: 0.3s ease;
  
}

.icon-details:hover{
  transform: translateY(-15px);
}

.icon-details:hover label{
  font-weight: bold;
}


.icon-details img, label{
  cursor: pointer;
}


@media screen and (max-width: 800px) {
  #aboutme{
    padding: 0px 5% 5% 5%;
  }

  .aboutme-img{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .aboutme-img img{
    width: 50%;
  }

  .aboutme-text{
    flex-basis: 100%;
  }


  .aboutme-text p{
    font-size: 1.1rem;
    line-height: 1.5rem;
    font-weight: 400;
    text-align: justify;
  }


  .aboutme-achievements{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 30px;
    margin-bottom: 50px;
  }

  .aboutme-achievement{
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .aboutme-achievement h1{
    font-size: 3rem;
    font-weight: 500;
  }

  .aboutme-achievement p{
    font-size: .1.1rem;
    font-weight: 200;
  }

  .tech-stack{
    row-gap: 20px;
  }

  .stack{
    flex-basis: 100%;
  }

  
}
